.layout {
  display: grid;
  grid-template-columns: repeat(4, 300px); /* 4 fixed columns for desktop */
  grid-auto-rows: 350px;
  gap: 20px;
  justify-content: center;
  background-color: black;
  padding: 20px;
}

.layout h1 {
  font-family: 'Luckiest Guy', sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .layout {
    grid-template-columns: repeat(4, 1fr); /* 4 in a row */
    grid-auto-rows: 120px;  /* shrink image height */
    gap: 10px;
    padding: 10px;
  }

  .layout h1 {
    font-size: 14px;
  }
}